<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Professor</title>
</head>
<body>
    <h1>Atualizar Professor</h1>
    <form action="/atualizar/{{ professor.id }}" method="POST">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome" value="{{ professor.nome }}"><br>
        <label for="disciplina">Disciplina:</label><br>
        <input type="text" id="disciplina" name="disciplina" value="{{ professor.disciplina }}"><br>
        <label for="e_mail">Email:</label><br>
        <input type="text" id="e_mail" name="e_mail" value="{{ professor.e_mail }}"><br><br>
        <input type="submit" value="Atualizar">
    </form>
</body>
</html>
