<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inserir Professor</title>
</head>
<body>
    <h1>Inserir Professor</h1>
    <form action="/inserir" method="POST">
        <label for="nome">Nome:</label><br>
        <input type="text" id="nome" name="nome"><br>
        <label for="disciplina">Disciplina:</label><br>
        <input type="text" id="disciplina" name="disciplina"><br>
        <label for="e_mail">Email:</label><br>
        <input type="text" id="e_mail" name="e_mail"><br><br>
        <input type="submit" value="Inserir">
    </form>
    <li><a href="/">Home</a></li>
</body>
</html>
